<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.charminseok.advertisement.mapper.AdvertisementMapper">


    <insert id="insertAdvertisement" parameterType="com.charminseok.advertisement.dto.RequestAdvertisement">
        INSERT INTO Advertisement (company_id, product_id, advertisement_price)
        values (#{companyId}, #{productId}, #{advertisementPrice});
    </insert>

    <resultMap id="selectAdvertisementListMap" type="com.charminseok.advertisement.dto.ResponseAdvertisement">
        <id column="ADVERTISEMENT_ID" property="advertisementId"/>
    </resultMap>

    <select id="selectAdvertisementList" resultMap="selectAdvertisementListMap">
        SELECT
            ADVERTISEMENT.ADVERTISEMENT_ID
            , ADVERTISEMENT.COMPANY_ID
            , ADVERTISEMENT.PRODUCT_ID
            , ADVERTISEMENT.ADVERTISEMENT_PRICE
        FROM ADVERTISEMENT
    </select>

    <resultMap id="selectAdvertisementMap" type="com.charminseok.advertisement.domain.AdvertisementDomain">
        <id column="ADVERTISEMENT_ID" property="advertisementId"/>
    </resultMap>

    <select id="selectAdvertisementById" resultMap="selectAdvertisementMap">
        SELECT * FROM Advertisement WHERE advertisement_id = #{advertisementId}
    </select>

    <insert id="insertCPCTarget" parameterType="com.charminseok.advertisement.dto.CPCTargetDTO">
        INSERT INTO CPC_TARGET (advertisement_id, click_datetime, advertisement_price)
        VALUES (#{advertisementId}, NOW(), #{advertisementPrice})
    </insert>
</mapper>
