<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.charminseok.company.mapper.ContractMapper">
    <insert id="insertContract" parameterType="com.charminseok.company.dto.ContractDTO">
        INSERT INTO Contract (COMPANY_ID, CONTRACT_START_DATE, CONTRACT_END_DATE)
        VALUES (#{Contract.companyId}, #{Contract.contractStartDate}, #{Contract.contractEndDate})
    </insert>

    <resultMap id="contract" type="com.charminseok.company.domain.ContractDomain">
        <id property="contractId" column="contract_id"/>
    </resultMap>

    <select id="selectContractByStartDate" resultMap="contract">
        SELECT COMPANY_ID
             , CONTRACT_START_DATE
        FROM CONTRACT
        WHERE COMPANY_ID = #{companyId}
          AND CONTRACT_END_DATE BETWEEN NOW() AND TIMESTAMPADD(YEAR, 1, NOW())
    </select>

    <select id="selectContractList" resultMap="contract">
        SELECT CONTRACT_ID
             , COMPANY_ID
             , CONTRACT_START_DATE
             , CONTRACT_END_DATE
        FROM CONTRACT
    </select>

    <select id="selectContractByCompanyId" resultMap="contract">
        SELECT * FROM CONTRACT WHERE COMPANY_ID = #{companyId} ORDER BY CONTRACT_START_DATE DESC LIMIT 1;
    </select>
</mapper>
