<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.charminseok.company.contract.mapper.ContractMapper">
    <insert id="insertContract" keyProperty="contractId" keyColumn="CONTRACT_ID" useGeneratedKeys="true"
            parameterType="com.charminseok.company.contract.domain.ContractDomain">
        INSERT INTO Contract (COMPANY_ID, CONTRACT_START_DATE, CONTRACT_END_DATE)
        VALUES (#{companyId}, #{contractStartDate}, #{contractEndDate})
    </insert>

    <resultMap id="contract" type="com.charminseok.company.contract.domain.ContractDomain">
        <id property="contractId" column="contract_id"/>
    </resultMap>

    <select id="selectContractByStartDate" resultMap="contract">
        SELECT CONTRACT.COMPANY_ID
        , CONTRACT.CONTRACT_START_DATE
        , CONTRACT.CONTRACT_END_DATE
        FROM CONTRACT
        INNER JOIN COMPANY ON COMPANY.COMPANY_ID = CONTRACT.COMPANY_ID
        WHERE CONTRACT.COMPANY_ID = #{companyId}
        AND CONTRACT.CONTRACT_END_DATE BETWEEN NOW() AND TIMESTAMPADD(YEAR, 1, NOW())
    </select>

    <select id="selectContractList" resultMap="contract">
        SELECT CONTRACT_ID
        , COMPANY_ID
        , CONTRACT_START_DATE
        , CONTRACT_END_DATE
        FROM CONTRACT
    </select>

    <select id="selectContractByCompanyId" resultType="com.charminseok.company.contract.dto.ContractResponseDto">
        SELECT CONTRACT.CONTRACT_ID
        , CONTRACT.COMPANY_ID
        , CONTRACT.CONTRACT_START_DATE
        , CONTRACT.CONTRACT_END_DATE
        , COMPANY.COMPANY_NAME
        FROM CONTRACT
        INNER JOIN COMPANY ON COMPANY.COMPANY_ID = CONTRACT.COMPANY_ID
        WHERE CONTRACT.COMPANY_ID = #{companyId}
        ORDER BY CONTRACT.CONTRACT_START_DATE DESC
        LIMIT 1;
    </select>
</mapper>
