<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.charminseok.product.mapper.ProductMapper">
    <resultMap id="Product" type="com.charminseok.product.domain.ProductDomain">
        <id column="product_id" property="productId"/>
    </resultMap>

    <select id="selectProductByCompanyName" resultMap="Product">
        SELECT * FROM PRODUCT WHERE company_name = #{companyName} LIMIT 1;
    </select>

    <select id="selectProductList" resultMap="Product">
        SELECT * FROM PRODUCT WHERE stockCount > 0;
    </select>
</mapper>
