<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.charminseok.product.mapper.ProductMapper">
    <resultMap id="Product" type="com.charminseok.product.domain.ProductDomain">
        <id column="product_id" property="productId"/>
    </resultMap>

    <select id="selectProduct" resultMap="Product">
        SELECT * FROM PRODUCT
        WHERE
        <trim prefixOverrides="AND">
            <if test="requestProduct.productId != null">
                AND PRODUCT_ID = #{requestProduct.productId}
            </if>
            <if test="requestProduct.productName">
                AND PRODUCT_NAME = #{requestProduct.productName}
            </if>
            <if test="requestProduct.stockCount">
                AND STOCK_COUNT >= #{requestProduct.stockCount}
            </if>
        </trim>
        LIMIT 1;
    </select>

    <select id="selectProductList" resultMap="Product">
        SELECT *
        FROM PRODUCT
        <where>
            <if test="requestProduct.productId != null">
                AND PRODUCT_ID = #{requestProduct.productId}
            </if>
            <if test="requestProduct.productName">
                AND PRODUCT_NAME = #{requestProduct.productName}
            </if>
            <if test="requestProduct.stockCount">
                AND STOCK_COUNT >= #{requestProduct.stockCount}
            </if>
        </where>
        LIMIT
        <if test="requestPaging.start != null">
            #{start},
        </if>
        <if test="requestPaging.pageSize != null">
            #{pageSize};
        </if>
        <if test="requestPaging.pageSize == null">
            1000;
        </if>

    </select>

    <insert id="insertProduct" parameterType="com.charminseok.product.domain.ProductDomain">
        INSERT INTO PRODUCT
            (COMPANY_NAME, PRODUCT_NAME, PRICE, STOCK_COUNT)
        VALUES (#{companyName}, #{productName}, #{price}, #{stockCount})
    </insert>
</mapper>
