<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.charminseok.product.mapper.ProductMapper">
    <resultMap id="Product" type="com.charminseok.product.domain.ProductDomain">
        <id column="product_id" property="productId"/>
    </resultMap>

    <select id="selectProductByCompanyName" resultMap="Product">
        SELECT * FROM PRODUCT WHERE company_name = #{companyName} LIMIT 1;
    </select>

    <select id="selectProductByProductId" resultMap="Product">
        SELECT * FROM PRODUCT WHERE PRODUCT_ID = #{productId};
    </select>

    <select id="selectProductList" parameterType="INT" resultMap="Product">
        SELECT * FROM PRODUCT WHERE stock_count > #{stockCount};
    </select>

    <insert id="insertProduct" parameterType="com.charminseok.product.domain.ProductDomain">
        INSERT INTO PRODUCT
        (COMPANY_NAME, PRODUCT_NAME, PRICE, STOCK_COUNT)
        VALUES
        (#{companyName}, #{productName}, #{price}, #{stockCount})
    </insert>
</mapper>
